<div class="sermon-trust">
  <div class="container">
    <div class="left">
      <div class="photo">
        <img src="./assets/images/sermon/trust-1.png" alt="" srcset="">
      </div>
      <span>upcoming event</span>
      <h2>how to truly trust someone</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, eveniet voluptate unde aliquam iusto accusamus vitae ex, dicta labore ad placeat harum, dolorum voluptatum autem ea nam aspernatur deleniti exercitationem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla illo commodi hic dignissimos, ab consequatur? Quibusdam obcaecati animi neque consectetur accusamus </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laborum fuga in sed mollitia hic veniam itaque, distinctio assumenda suscipit optio odit at temporibus, voluptatum ducimus ipsum amet numquam iusto?</p>
    </div>
    <div class="right">
      <h3>register now</h3>
      <div class="address">
        <p>
         <i class="fas fa-home"></i>
          <span>no 233 main st ,<br> cairo egypt</span>
        </p>
        <p>
          <i class="fas fa-home"></i>
          <span> 13 may ,2018</span>
        </p>
      </div>
      <form>
         <div class="input-field">
           <label for="FullName"></label>
          <input type="text" name="FullName" placeholder="FullName">
         </div>
         <div class="input-field">
           <label for="Email"></label>
          <input type="text" name="FullName" placeholder="example@gmail.com">
         </div>
         <button class="btn my-btn">register now</button>
      </form>
    </div>
  </div>
</div>
