@import "../../../../sass/variables";
.sermon-trust {
  margin: 4rem 0rem;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    @media (max-width:768px) {
      justify-content: center;
    }
    &>div{
      width: 61rem;
      @media (max-width:1200px) {
        width: 51rem;
      }
      @media (max-width:1000px) {
        width: 46rem;
      }
      @media (max-width:768px) {
        width: 61rem;
      }

    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.3rem;
    padding-top: 0rem;
    @media (max-width:550px) {
      width: 65rem !important;
      padding-left: 1rem;
    }
    .photo {
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 5px 5px 10rem #f6d2a38a;
      margin-bottom: 2rem;
      @media (max-width:768px) {
        order: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    span {
      font-size: 1.3rem;
      color: #3f51b5;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: uppercase;

    }
    p {
      font-size: 1.2rem;
      text-align: justify;
      word-spacing: -2px;
      &:nth-of-type(2) {
        font-size: 1.6rem;
        border-left: 1px solid $--orange1;
        padding-left: 1.3rem;
        word-spacing: -3px;
      }
    }
  }
  .right {

    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #c1c1c1;
    align-self: flex-start;
    h3 {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: uppercase;
      margin: 1rem 0;
    }
    .address {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1.3rem;
        i {
          margin-right: 0.5rem;
        }
        span {
          font-size: 1.2rem;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 1.6rem;
      .input-field {
        border: none;
        margin-bottom: 1rem;
        label {
          font-size: 1.2rem;
        }
        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid #f6d2a3;
          padding: 1rem 0rem;
        }
        button {
          font-size: 1.5rem;
        }
      }
    }
  }
}
