
@import '../../../../sass/variables';
.features{
  .container{
    padding: 3rem 0rem;
  }
  &--span{
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  &--h2{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0rem 5rem;
  }
  &__boxs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
    &__box{
      width: 31rem;
    height: 20rem;
    margin: 0.4rem;
    background-color: #fdf5eb;
    border-bottom: 8px solid #f6d2a3;
    padding: 2rem;
    margin-bottom: 0.8rem;
    @media (max-width: 500px) {
      width: 50rem;
    }
      .fas{
        color: $--orange1;
        font-size: 3rem;
        margin: 1rem 0rem;
      }
      &--h4{
        font-weight: bold;
        font-size: 2rem;
      }
      &--p{
        font-size: 1.4rem;
        font-weight: bold;
        color: grey;
      }
    }
  }
}
