<div class="features">
  <div class="container">
    <span class="features--span">sub headline </span>
    <h2 class="features--h2">a masjed that's relevant </h2>
    <div class="features__boxs-container">
      <div class="features__boxs-container__box">
        <i class="fas fa-praying-hands"></i>
        <h4 class="features__boxs-container__box--h4">about us </h4>
        <p class="features__boxs-container__box--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, est eos. Reprehenderit, culpa. Tempora reprehenderit, .</p>
      </div>
      <div class="features__boxs-container__box">
        <i class="fas fa-headphones-alt"></i>
        <h4 class="features__boxs-container__box--h4">get involved</h4>
        <p class="features__boxs-container__box--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, est eos. Reprehenderit, culpa. Tempora reprehenderit, .</p>
      </div>
      <div class="features__boxs-container__box">
        <i class="fas fa-heartbeat"></i>
        <h4 class="features__boxs-container__box--h4">given back </h4>
        <p class="features__boxs-container__box--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, est eos. Reprehenderit, culpa. Tempora reprehenderit, .</p>
      </div>

    </div>
  </div>
</div>
