<div class="benefits">
  <div class="container">
    <span class="span-heading">watch and listen</span>
    <h2 class="heading">the benefites of joining us our masjed</h2>
    <div class="benefits__box-container">
      <div class="benefits__box-container__box">
        <h5>watch and listen to our semons</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto deleniti fuga tempora est a voluptatibus ad! Autem, et pariatur! Laborum sequi </p>
        <img src="../../../../../assets/images/benefits/item-1.jpg" alt="" srcset="">
      </div>
      <div class="benefits__box-container__box">
        <h5>watch and listen to our semons</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto deleniti fuga tempora est a voluptatibus ad! Autem, et pariatur! Laborum sequi </p>
        <img src="../../../../../assets/images/benefits/item-2.jpg" alt="" srcset="">
      </div>
      <div class="benefits__box-container__box">
        <h5>watch and listen to our semons</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto deleniti fuga tempora est a voluptatibus ad! Autem, et pariatur! Laborum sequi </p>
        <img src="../../../../../assets/images/benefits/item-3.jpg" alt="" srcset="">
      </div>
      <div class="benefits__box-container__box">
        <h5>watch and listen to our semons</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto deleniti fuga tempora est a voluptatibus ad! Autem, et pariatur! Laborum sequi</p>
        <img src="../../../../../assets/images/benefits/item-4.jpg" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
