
<div class="contact-form">
  <div class="container">
    <div class="boxs-container">
      <div class="box ">
        <h3>contact form: </h3>
        <form action="">
          <input type="text" placeholder="your full name">
          <input type="text" placeholder="your email">
          <input type="text" placeholder="query related">
          <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
          <button class="my-btn">send message</button>
        </form>
      </div>
      <div class="box">
        <span>address</span>
        <h3>nh 234 public street <br> cairo , egypt 758485</h3>
        <span>contact details</span>
        <h3>(+02)01112030405 <br>masjed@gamil.com </h3>
        <span>
          find us here <br>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </span>
      </div>
    </div>
  </div>
</div>
