<div class="about-benefits">
  <span class="span-heading">benefits</span>
  <h1 class="heading">the benefits of joining our masjed</h1>
  <div class="container">
    <div class="boxs-container">


    <div class="box">
      <div  class="benefit-info">
        <h3>find fullfilment and joy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quidem incidunt est sed laborum itaque, dolores accusantium, illo maiores illum, facere quasi consequatur. Beatae totam architecto necessitatibus repellat. Sequi, ea.!</p>
       </div>
       <div class="benefit-photo">
         <img src="./assets/images/aboutUs/benefit-1.jpg" alt="" srcset="">
       </div>
     </div>
     <div class="box">
      <div class="benefit-photo">
        <img src="./assets/images/aboutUs/benefit-2.jpg" alt="" srcset="">
      </div>       <div  class="benefit-info">
        <h3>shared values</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quidem incidunt est sed laborum itaque, dolores accusantium, illo maiores illum, facere quasi consequatur. Beatae totam architecto necessitatibus repellat. Sequi, ea.!</p>
       </div>

      </div>
      <div class="box">
        <div  class="benefit-info">
          <h3>masjed events</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quidem incidunt est sed laborum itaque, dolores accusantium, illo maiores illum, facere quasi consequatur. Beatae totam architecto necessitatibus repellat. Sequi, ea.!</p>
         </div>
         <div class="benefit-photo">
          <img src="./assets/images/aboutUs/benefit-3.jpg" alt="" srcset="">
        </div>       </div>
       <div class="box">
        <div class="benefit-photo">
          <img src="./assets/images/aboutUs/benefit-4.jpg" alt="" srcset="">
        </div>        <div  class="benefit-info">
         <h3>all are welcome</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quidem incidunt est sed laborum itaque, dolores accusantium, illo maiores illum, facere quasi consequatur. Beatae totam architecto necessitatibus repellat. Sequi, ea.!</p>
        </div>
  </div>
</div>
  </div>
  </div>
