<div class="sermon-events">
  <h1 class="heading">view all events </h1>
  <div class="container">
    <div class="sermon-events__box-container">
      <div class="sermon-events__box-container__box" *ngFor="let n of [].constructor(4)">
        <h6>
          <span>upcoming event</span>
          <span>20 <br> july</span>
        </h6>
        <h3>watch and listen to our sermons</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, praesentium architecto aut error</p>
        <h5>
          <i class="fas fa-clock"></i>
          <p>friday 23:39 ist <br> saturday 11:20 isd</p>
        </h5>
        <h5>
          <i class="fas fa-map-marker-alt"></i>
          <p>no 233 main st.new york  <br> united status/p>
        </h5>
      </div>
    </div>
  </div>
</div>
