@import '../../../../sass/variables';
.home-header{
  background-color:#000000a1;
  background-blend-mode: overlay;
  position: relative;
  .container{
    padding: 13rem 1rem;
  }
  &--p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}

&--h1{
    font-size: 4rem;
    color: #FFF;

  }

  &--span{
    color: #FFF;
    display: block;
    font-size: 1.3rem;

  }
  img{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
  }
}
