@import '../../../../sass/variables';
.joinUs{

  .container{
    padding: 4rem 2rem;
  }
  &__boxs-container{
    display: grid;
    grid-template-columns: auto 48rem;
    grid-template-rows: 40rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.3rem;
    @media (max-width:768px) {
      grid-template-columns: auto
    }
    &__box{
      margin: 2rem 0px;
      &.info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.3rem 3.5rem;
        background-color: $--orange2;
       h6{
         display: flex;
         justify-content: space-between;
         span{
           &:nth-child(1){
             color: $--orange1;
           }

         }
       }
       h3{
        margin: 1.5rem 0rem;
      }
      p{
font-size: 1.5rem;
      }
      h5{
        display: flex;
        margin: 1rem 0rem;
         i{
          margin-right: 0.5rem;
        }

        }
        button{
          margin: 0px;
          border: none;
          border-radius: 5px;
          background-color: #000;
          color: #FFF;
          padding: 0.4rem 1.2rem;
          font-size: 1.6rem;
          text-transform: capitalize;
          align-self: flex-start;
       }
      }
      &.photo{
        overflow: hidden;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @media (max-width:768px) {
          border-radius: 0px;
        }
        img{
          width: 100% ;
          height: 100%;
          object-fit: cover;
        &:hover{
          transform: scale(1.2);
        }
        }
      }
    }

  }
}
