<div class="joinUs">
  <div class="container">
    <span class="span-heading">upcoming sermons</span>
    <h2 class="heading">join us and become part of something great</h2>
    <div class="joinUs__boxs-container">
      <div class="joinUs__boxs-container__box info">
        <h6>
          <span>upcoming event</span>
          <span>20 <br> july</span>
        </h6>
        <h3>watch and listen to our sermons</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, praesentium architecto aut error</p>
        <h5>
          <i class="fas fa-clock"></i>
          <p>friday 23:39 ist <br> saturday 11:20 isd</p>
        </h5>
        <h5>
          <i class="fas fa-map-marker-alt"></i>
          <p>no 233 main st.new york  <br> united status/p>
        </h5>
        <button>register</button>
      </div>
      <div class="joinUs__boxs-container__box photo">
        <img src="./assets/images/join-2.jpg" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
