<div class="about-members">
  <span class="span-heading">masjed's members </span>
  <h1 class="heading">meet our inspiration team</h1>
  <div class="container">
    <div class="box-container">
      <div class="box">
        <div class="box-photo">
          <img src="./assets/images/aboutUs/members/item-1.jpg" alt="" srcset="">
        </div>
        <h6>malcolm x </h6>
        <p>info here </p>
        <span>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </span>
      </div>
      <div class="box">
        <div class="box-photo">
          <img src="./assets/images/aboutUs/members/item-2.jpg" alt="" srcset="">
        </div>
        <h6>ali salah </h6>
        <p>info here </p>
        <span>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </span>
      </div>
      <div class="box">
        <div class="box-photo">
          <img src="./assets/images/aboutUs/members/item-3.jpg" alt="" srcset="">
        </div>
        <h6>ahmed abdallah </h6>
        <p>info here </p>
        <span>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </span>
      </div>
      <div class="box">
        <div class="box-photo">
          <img src="./assets/images/aboutUs/members/item-4.jpg" alt="" srcset="">
        </div>
        <h6>islam mahmoud </h6>
        <p>info here </p>
        <span>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </span>
      </div>
    </div>
  </div>
</div>
