<div class="inspire">
  <span class="span-heading">rear our blogs </span>
  <h1 class="heading">share,inspire,innvovate</h1>
  <div class="container">


  <div class="inspire__boxs-container">
    <div class="inspire__boxs-container__box" *ngFor="let item of [].constructor(4)">
      <span class="inspire__boxs-container__box--span">relationship</span>
      <h2 class="inspire__boxs-container__box--h2">watch and listen to our sermons</h2>
      <p class="inspire__boxs-container__box--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas repudiandae ratione, blanditiis aperiam fuga atque quis </p>
      <h3 class="inspire__boxs-container__box--h3">by hassan allam</h3>
      <h4 class="inspire__boxs-container__box--h4">tuseday 13 may 2021</h4>
    </div>




  </div>
</div>
</div>
