<div class="love">
  <div class="container">
     <span class="love--span">sub headline </span>
     <h2 class="love--h2">love and comapssion </h2>
     <p class="love--p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit odio iste inventore quis sed autem repellendus excepturi recusandae officia aut voluptatem eius quos, dolorem quaerat ipsum dolor fugit quia soluta.</p>
    <button class="my-btn">learn moor</button>
     <div class="love__boxs-container">
        <div class="love__boxs-container__box">
          <img class="love__boxs-container__box--img" src="./assets/images/love/item-1.jpg" alt="" srcset="">
        </div>
        <div class="love__boxs-container__box">
          <!-- <button class="my-btn">read moor</button> -->
          <img class="love__boxs-container__box--img" src="./assets/images/love/item-2.jpg" alt="" srcset="">
        </div>
        <div class="love__boxs-container__box">
          <img class="love__boxs-container__box--img" src="./assets/images/love/item-3.jpg" alt="" srcset="">
        </div>
        <div class="love__boxs-container__box">
          <img class="love__boxs-container__box--img" src="./assets/images/love/item-4.jpg" alt="" srcset="">
        </div>
     </div>
     <span class="love--span">our mission and vision </span>
     <h3 class="love--h3">celebrate with us</h3>
     <p class="love--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, s nulla eius a mollitia.</p>
     <a class="love--a" routerLink="aboutUs">next page <i class="fas fa-arrow-right"></i></a>
  </div>
</div>
