<div class="footer">
  <div class="container">
    <div class="footer__boxs-container">
      <div class="footer__box">
       <h2>finsweet</h2>
       <ul>
         <li>&copy; copright elnaggar-islamic 2022</li>
         <br>
         <li>01112050936</li>
         <li>egypt , elmina , maghaghah  </li>
         <li>&copy; copright elnaggar-islamic 2022</li>
         <li>aymanelnajar2095@gmail.com</li>
       </ul>
      </div>
      <div class="footer__box">
        <h3>quick links</h3>
        <ul>
          <li class="mynav--ul--li"><a routerLink="">home</a></li>
          <li class="mynav--ul--li"><a routerLink="aboutUs">about us</a></li>
          <li class="mynav--ul--li"><a routerLink="sermon">sermon</a></li>
          <li class="mynav--ul--li"><a routerLink="blog">blog</a></li>
            </ul>
       </div>
       <div class="footer__box">
        <h3>connect</h3>
        <p>
          <a><i class="fab fa-facebook"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
        </p>
       </div>
       <div class="footer__box">
        <h1>subscribe to get the latest <br> updates and news</h1>
        <form>
          <input type="text" placeholder="yourEmail@gmail.com">
          <button class="my-btn">subscribe</button>
        </form>
       </div>
    </div>
  </div>
</div>
