<div class="about-info">
  <div class="container">
    <div class="box">
      <span>our mission & vision </span>
      <h2>striving for a better tomorrow</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe reiciendis facilis odio temporibus cumque, et harum rem enim fugiat, earum quam expedita nemo laborum repellat. Repellat, accusamus. Rerum, molestias modi?</p>
    </div>
    <div class="box">
      <span>what we do  </span>
      <h2>bringing peace and joy to the world </h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus expedita voluptate tempora, cupiditate officia, animi est qui distinctio suscipit nesciunt perspiciatis ipsum dicta facere voluptas et dolorum cum! Consectetur, voluptas.</p>
    </div>
  </div>
</div>
