@import '../../../../sass/variables';
.about-info{
margin: 4rem 0rem;
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  .box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
    width: 38rem;
    box-shadow: 0 0 3px $--orange1;
    margin: 2rem;
    @media (max-width:992px) {
      width: 72rem;
    }
    span{
      font-size: 1rem;

    }
    h2{
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    p{
      font-size: 1.5rem;
    }
  }
}
