
<div class="recent-posts">
  <span class="span-heading">our blogs</span>
  <h1 class="heading">most recent posts</h1>
  <div class="container">
    <div class="photo">
      <img src="./assets/images/blog/recent-1.png" alt="" srcset="">
    </div>
    <div class="info">
      <p>
        <span>tusday 13 may,2022</span>
        <span>by: ali mohammed</span>
      </p>
      <h2>masjed was doning what he often did when dropped an oracle</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam cumque vitae sequi saepe assumenda, id sunt rerum est quod, distinctio incidunt beatae eius, quae maiores alias explicabo expedita ab!</p>
      <button class="my-btn">read moor</button>
    </div>
  </div>
</div>
